/* RESPONSIVE */

@media (max-width: 800px) {
    nav {
        padding: 0 20px;
    }
    .menu {
        justify-content: center;
    }
    .iMenu {
        display: flex;
    }
    .items {
        top: -60px;
        width: 100vw;
        height: 50px;
        padding: 0 20px;
        position: absolute;
        background: white;
    }
    .items>li {
        height: 50px;
    }
    #iMenu:checked~.items {
        top: 60px;
    }
    #tecnologia>.sec-contenedor {
        width: 100%;
    }
    .slider-tecnologia {
        width: 200%;
    }
    @keyframes slider-tecnologia {
        50% {
            left: -100%;
        }
    }
    #clientes>.sec-contenedor {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .menu {
        order: 1;
        padding: 0;
    }
    .items {
        top: 65px;
        right: -200px;
        width: 150px;
        padding: 0;
        background: none;
        flex-direction: column;
    }
    .items>li {
        width: 100%;
        height: 40px;
        margin: 5px;
        background: #ffffff;
        border-radius: 25px;
    }
    .items>li:hover {
        background: #ffffff;
        transform: scale(1.1);
    }
    #activo {
        background: #ffffff;
        transform: scale(1.1);
    }
    #iMenu:checked~.items {
        top: 65px;
        right: 2%;
        transition: all .3s ease-in-out;
    }
    #iBuscar:checked~.buscar {
        top: 70px;
        right: auto;
        width: 96%;
        border-radius: 25px;
    }
    .inicio>.sec-titulo {
        font-size: 2.5rem;
    }
    .inicio>.sec-intro {
        font-size: 1.8rem;
    }
    .slider-inicio>div {
        font-size: 3rem;
    }
    .slider-tecnologia {
        width: 250%;
    }
    @keyframes slider-tecnologia {
        50% {
            left: -150%;
        }
    }
    #clientes>.sec-contenedor {
        height: 400px;
        margin: 25px 0;
        flex-direction: column;
        justify-content: space-between;
    }
    .panel {
        flex-direction: column;
        text-align: center;
    }
    .panel>.columna {
        margin: 5px;
    }
    .creditos {
        align-items: center;
        flex-direction: column;
    }
    .creditos>span {
        display: none;
    }
}

@media (max-width: 400px) {
    .sec-intro {
        width: 90%;
        font-size: 1.2rem;
    }
    .slider-tecnologia {
        width: 350%;
    }
    @keyframes slider-tecnologia {
        50% {
            left: -250%;
        }
    }
    .contacto {
        width: 95%;
    }
}